@import 'reset';
@import 'variables';
@import 'map';
@import 'slider';


body {
    margin: 0px;
    overflow: hidden;
    background-color: $dark-blue;
}

.page-header {
    position: relative;
    text-align: center;
    padding-top: 33px;
    font-size: 50px;
    color: $light-blue;
    font-family: $main-font;
}

.page-header::after {
    content: "";
    height: 0.5px;
    width: 70%;
    background: rgb(201, 207, 215);
    position: absolute;
    left: 14%;
    bottom: -25%;
    opacity: 0.7;
}


.content-container {
    display: flex;
}

.color-legend {
    display: flex;
    align-items: center;
    height: 24vh;
    width: 8vw;
    padding: 3px;
    position: absolute;
    left: 5%;
    top: 33%;
    background: #c9cfd7;
    border-radius: 9px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.news-container {
    height: 64vh;
    width: 15vw;
    position: absolute;
    left: 94%;
    top: 8%;
    overflow-y: auto;
    background: #c9cfd7;
    z-index: 3;
    border-radius: 9px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

#news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.news-image {
    width: 100%;
    border-radius: 2px;
}

.news-item {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 16px 10px 20px 5px;
    box-sizing: border-box;
    border-bottom: 3px solid white;
}

.news-header {
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 5px;
}

.news-link {
    color: black;
    align-self: center;
}
