@import 'variables';
.map-container {
    height: 63vh;
    width: 65vw;
    display: block;
    margin: auto;
    position: absolute;
    left: 18%;
    top: 19%;
}

.state {
    stroke: black;
    stroke-opacity: 0.2;
}

.state:hover {
    fill: grey;
}

// .svg {
// }