@import 'variables';
.map-container {
    height: 70vh;
    width: 75vw;
    display: block;
    margin: auto;
    position: absolute;
    left: 6%;
    top: 14%;
}

.state {
    stroke: black;
    stroke-opacity: 0.2;
}

.state:hover {
    fill: blue;
}

// .svg {
// }