@import 'variables';
.map-container {
    height: 50vh;
    width: 60vw;
    display: block;
    margin: auto;
    position: absolute;
    left: 20%;
    top: 25%;
}

.state {
    stroke: black;
    stroke-opacity: 0.2;
}

.state:hover {
    fill: blue;
}

// .svg {
// }