@import 'variables';

.slider-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    position: absolute;
    top: 91%;
    left: 12%;
}

.slider {
    -webkit-appearance: none;
    width: 65%;
    height: 20px;
    background: #c9cfd7;
    opacity: 0.7;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin-top: 60px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 34px;
    background: white;
    border-radius: 20%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 40px;
    background: white;
    border-radius: 20%;
    cursor: pointer;
}

h3 {
    color: $light-blue;
    margin-top: 24px;
    opacity: 0.7;
    font-size: 23px
}

// .slider::after {
//     content: '14';
//     color: white;
//     font-size: 2rem;
//     position: absolute;
//     left: 60%;
//     top: 75%;
// }

// .slider::before {
//     content: '0';
//     color: white;
//     font-size: 2rem;
//     position: absolute;
//     left: 8%;
//     top: 75%;
// }