$bright-red: #ae1614;
$red: #c93734;
$orange:#c4483a;
$salmon: #cf685d;
$dark-yellow: #bd9861;
$yellow: #febe72;
$light-yellow: #f6d9b0;
$may-blue: #a6b9d3;
$light-blue: #c9cfd7;
$blue: #3e8fb1;
$dark-blue: #173e51;
$main-font: 'Roboto', sans-serif;





